<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Polytech Web Homeworks</title>

</head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Homeworks navigation</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('hw1') }}">HW1</a></li>
            <li><a href="{{ url_for('hw2') }}">HW2</a></li>
            <li><a href="{{ url_for('hw3') }}">HW3</a></li>
            <li><a href="{{ url_for('hw4') }}">HW4</a></li>
            <li><a href="{{ url_for('hw5') }}">HW5</a></li>
            <li><a href="{{ url_for('proj') }}">Project</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
 </body>
</html>