<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <link href="../static/hw2/style/pic.css" rel="stylesheet">
    <title>Snake</title>
</head>

<body>
<header>
        <div style="text-align: center;">
            <img src="../static/hw1/img/logo.png" alt="logo" width="100" height="100" align="bottom"/>
            <h1>Geralt of Rivia</h1>
            <p>+7 (123) 456-78-90</p>
        </div>
        <nav>
            <ul>
                <li class="linknav">
                    <a href="{{ url_for('hw1') }}#end">To the end</a>
                </li>
            </ul>
        </nav>
    </header>
<main>
        <aside class="leftblock">
            <li class="linkparagraph"><a href="{{ url_for('hw1') }}#link1">About me</a></li>
            <li class="linkparagraph"><a href="{{ url_for('hw1') }}#link2">Personality</a></li>
            <li class="linkparagraph"><a href="{{ url_for('hw1') }}#link3">Legacy</a></li>
            <li class="linkparagraph"><a href="{{ url_for('hw1') }}#link4">The Witcher</a></li>
        </aside>
        <div>
            <article>
                <a name="link1"></a>
                <h2>
                    About me
                </h2>
                <p class="paragraph">Geralt of Rivia was a legendary witcher of the School of the Wolf active
throughout the 13th century. He loved the sorceress Yennefer, considered
the love of his life despite their tumultuous relationship, and became Ciri's
adoptive father.

During the Trial of the Grasses, Geralt exhibited unusual tolerance for the
mutagens that grant witchers their abilities. Accordingly, Geralt was
subjected to further experimental mutagens which rendered his hair white
and may have given him greater speed, strength, and stamina than his fellow
witchers.

Despite his title, Geralt did not hail from the city of Rivia. After being
left with the witchers by his mother, Visenna, he grew up in their keep of
Kaer Morhen in the realm of Kaedwen. In the interest of appearing more
trustworthy to potential clients, young witchers were encouraged to make up
surnames for themselves by master Vesemir. As his first choice, Geralt
chose "Geralt Roger Eric du Haute-Bellegarde", but this choice was dismissed
by Vesemir as silly and pretentious, so "Geralt" was all that remained of
his chosen name. "Of Rivia" was a more practical alternative and Geralt even
went so far as to adopt a Rivian accent to appear more authentic. Later,
Queen Meve of Lyria knighted him for his valor in the Battle for the Bridge
on the Yaruga conferring on him the formal title "of Rivia", which amused
him. He, therefore, became a true knight.
                </p>
    <div class="snake">
        <div class="horn1"></div>
        <div class="horn2"></div>
        <div class="circle1">
            <div class="eye1"></div>
            <div class="eye2"></div>
            <div class="mouth"></div>
            <div class="leg1"></div>
            <div class="circle2">
                <div class="leg2"></div>
                <div class="circle3">
                    <div class="leg3"></div>
                    <div class="circle4">
                    </div>
                </div>
            </div>
        </div>
    </div>
            </article>

            <article>
                <a name="link2"></a>
                <h2>
                    Personality
                </h2>
                <p class="paragraph">Most of the time, he could be apathetic, cynical, and threatening.
Despite his outwardly cold nature, Dandelion noted that behind his exterior
was hiding a fiercely loyal friend, and a man of good humour and as someone
not indifferent to suffering. Geralt had many good friends all over the
Northern Realms, such as Caldemeyn of Blaviken, Zoltan Chivay, and of course
Dandelion. He was also very protective of and loyal to his friends and
companions, and was willing to go to great lengths for those who mattered
to him. He could be kind-hearted and caring to the people he loved.

Geralt was also shown to be extremely adept at allaying intense, and at times
bleak, situations and as a man who would much sooner have everyone return home
than draw their swords. His lifespan made him a world-weary man, often
expressing disdain and circuitous insults to those he considered cruel, foolish,
etc. He may have risked Temeria's future to save Triss Merigold from the
Nilfgaardians. He also was shown requesting Scoia'tael to spare Dandelion and
kill only him.

Geralt frequently showed remorse and had revelations in his life. Other times
he had complete emotional breakdowns, even giving up being a witcher in general
and dropping his morals at one point.
                </p>

                <div class="snake">
        <div class="horn1"></div>
        <div class="horn2"></div>
        <div class="circle1">
            <div class="eye1"></div>
            <div class="eye2"></div>
            <div class="mouth"></div>
            <div class="leg1"></div>
            <div class="circle2">
                <div class="leg2"></div>
                <div class="circle3">
                    <div class="leg3"></div>
                    <div class="circle4">
                    </div>
                </div>
            </div>
        </div>
    </div>
            </article>


<div class="snake">
        <div class="horn1"></div>
        <div class="horn2"></div>
        <div class="circle1">
            <div class="eye1"></div>
            <div class="eye2"></div>
            <div class="mouth"></div>
            <div class="leg1"></div>
            <div class="circle2">
                <div class="leg2"></div>
                <div class="circle3">
                    <div class="leg3"></div>
                    <div class="circle4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
</body>
<footer>
    <a name="end"></a>
    <div class="footertext">Bye bye</div>
</footer>
</html>