<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <link href="../static/hw4/style/style.css" rel="stylesheet">
    <title>Задание DOM</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Задание DOM</h1>
        </header>
        <aside>
            <h2>Задание 3</h2>
            <ol id="aside"></ol>
        </aside>

        <div class="content">
            <button id="create">Создать</button>
            <button id="change">Перекрасить</button>
            <h2>Задание 1</h2>
            <table id="myTable">
                <tr>
                    <th>латинский язык</th>
                    <th>русский язык</th>
                </tr>
            </table>

            <h2>Задание 2</h2>
            <div id='rand'></div>
            <script src="../static/hw4/script/script.js"></script>
        </div>
    </div>
</body>

<footer>
    <p>Bye bye</p>
</footer>
</html>
