<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Собери животное</title>
    <link href="../static/hw5/style/style.css" rel="stylesheet">
</head>

<body>
    <div id="main">
        <header>
            <div style="text-align: center;">
                <h1>Собери животное</h1>
            </div>
        </header>

        <section>
            <section>
                    <div class="block">
                        <div class="a">А</div>
                        <div class="wrap wrap6">
                            <img src="../static/hw5/img/image_part_6.jpg" class="pic pic6" width="100px" height="100px">
                        </div>
                        <div class="wrap wrap4">
                            <img src="../static/hw5/img/image_part_4.jpg" class="pic pic4" width="100px" height="100px">
                        </div>
                        <div class="wrap wrap3">
                            <img src="../static/hw5/img/image_part_3.jpg" class="pic pic3" width="100px" height="100px">
                        </div>
                        <div class="wrap wrap2">
                            <img src="../static/hw5/img/image_part_2.jpg" class="pic pic2" width="100px" height="100px">
                        </div>
                        <div class="wrap wrap5">
                            <img src="../static/hw5/img/image_part_5.jpg" class="pic pic5" width="100px" height="100px">
                        </div>
                        <div class="wrap wrap1">
                            <img src="../static/hw5/img/image_part_1.jpg" class="pic pic1" width="100px" height="100px">
                        </div>
                        <img src="../static/hw5/img/full_image.png" class="pic0" width="100px" height="100px">
                    </div>

                    <div class="block">
                        <div class="a">Б</div>
                    </div>
            </section>

            <aside>
                <div class="menu" id="check">Проверить</div>
                <div class="menu" id="restart">Перезапустить</div>
            </aside>

            <script src="../static/hw5/script/script.js"></script>
        </section>
    </div>
</body>

<footer>
    <div style="text-align: center;">
        <p>Bye bye</p>
    </div>
</footer>
</html>
